# Workflow that runs regression tests against our solved test bugs
name: Run Replay Regression Tests

# The jobs in this workflow are required, so they must run at all times
# * Always run on "main"
# * Always run on PRs
on:
  push:
    branches:
      - main
  pull_request:

# If triggered by a PR, it will be in the same group. However, each commit on main will be in its own unique group
concurrency:
  group: ${{ github.workflow }}-${{ (github.head_ref && github.ref) || github.run_id }}
  cancel-in-progress: true

jobs:
  check-for-regressions:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # don't stop the job if a matrix entry fails
      matrix:
        repo: ["bench-devtools-10609"] # add more bench dirs here
    steps:
      - name: Check ${{ matrix.repo }} for regressions
        if: always() # don't let other checks keep this from running
        uses: convictional/trigger-workflow-and-wait@v1.6.5
        with:
          github_token: ${{ secrets.WORKFLOW_DISPATCH_TOKEN }}
          owner: replayio-public
          repo: ${{ matrix.repo }}
          workflow_file_name: regress-check.yml
          propagate_failure: true
          trigger_workflow: true
